#background {
  background: url(./images/background_home.png) no-repeat center center fixed;
}

.roof {
  width: 900px;
}

.eletronics {
  margin-top: 20px;
  width: 150px;
}

.row-custom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}
